name: Build & Publish Docker image

on: 
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    timeout-minutes: 59
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ (github.event_name == 'release' && format('gruxer/prism:{0}', github.event.release.tag_name) && 'gruxer/prism:latest') || 'master' }}
          platforms: linux/amd64
          build-args: BUILD_TYPE=production